@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Font.otf') format('opentype');
}

body {
    background-color: black;
    color: white;
    font-family: 'MyCustomFont', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ensure items are aligned at the top */
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Ensure items are aligned at the top */
    width: 90%;
    max-width: 600px;
    padding-top: 0; /* Add padding-top to ensure the container starts at the very top */
}

.center-image {
    width: 100%;
    max-width: 300px;
    margin-top: 0; /* Ensure the image is at the top */
}

.content {
    position: relative;
    width: 100%;
}

.background-image {
    position: absolute;
    top: 2px; /* Set a specific top position */
    left: 50%;
    transform: translateX(-150%) rotate(-7deg);
    width: 130px; /* Set a specific width */
    height: 170px; /* Set a specific height to maintain size */
    z-index: -2;
    max-width: 170px;
}

.foreground-text {
    background-color: #2bbfe5;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    max-width: 520px;
    font-size: 1.2em;
    z-index: 5;
    margin: 20px auto;
    transform: translateY(100%);
    position: relative; /* Add this line */
}

.ButtonGames {
    background-color: yellow;
    border-radius: 20px;
    padding: 10px;
    font-family: 'MyCustomFont', sans-serif;
    width: 80%;
    max-width: 200px;
    z-index: 2;
    transform: translateY(280%);
    font-size: 1.1em;
    transition: transform 0.3s ease;
    border: none;
    cursor: pointer;
    color: black;
}

.ButtonGames:hover {
    transform: translateY(275%) scale(1.1);
}

.Socials {
    transform: translateY(160%);
    color: black;
    background-color: #2da9c8;
    font-size: 25px;
    border-radius: 10px;
    width: 100%;
}

.Socials img {
    margin-right: 15px; /* Adjust the value as needed */
    transition: transform 0.3s ease;
    border: none;
    cursor: pointer;
    color: black;
}

.Socials img:hover {
    transform: scale(1.1);
}

.developers {
    transform: translateY(-20%);
    color: black;
    background-color: #2da9c8;
    font-size: 25px;
    border-radius: 10px;
    width: 100%;
}

.Nerdo {
    transform: translateY(100%)
    translateX(50%)
}

.Finger {
    transform: translateY(10%)
    translateX(50%);
    animation: moveUpDown 2s infinite; /* Adjust the duration as needed */
}

a {
    text-decoration: none; /* Remove underline from links */
    border: none; /* Remove border from links */
    outline: none; /* Remove outline from links */
}

a img {
    border: none; /* Remove border from images inside links */
    outline: none; /* Remove outline from images inside links */
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(10) translateX(50%);
    }
    50% {
        transform: translateY(-10px) translateX(50%); /* Adjust the value as needed */
    }
}

.yassin {
    transform: translateY(30%);
    transition: transform 0.3s ease;
    border: none;
    cursor: pointer;
    color: black;
}

.sofian {
    transform: translateY(30%);
    transition: transform 0.3s ease;
    border: none;
    cursor: pointer;
    color: black;
}

.sofian:hover {
    transform: translateY(30%) scale(1.1);
}

.yassin:hover {
    transform: translateY(30%) scale(1.1);
}
