@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Font.otf') format('opentype');
}

body {
    background-color: black;
    color: white;
    font-family: 'MyCustomFont', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
}

.center-image {
    width: 100%;
    max-width: 300px;
    transform: translateY(-50%);
}

.content {
    position: relative;
    width: 100%;
}

.background-image {
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translateX(-160%) rotate(-7deg);
    width: 30%;
    z-index: -2;
    max-width: 170px;
}

.foreground-text {
    background-color: #2bbfe5;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    max-width: 520px;
    font-size: 1.2em;
    z-index: 5;
    margin: 20px auto;
}

.ButtonGames {
    background-color: yellow;
    border-radius: 20px;
    padding: 10px;
    font-family: 'MyCustomFont', sans-serif;
    width: 80%;
    max-width: 200px;
    z-index: 2;
    font-size: 1.1em;
    transition: transform 0.3s ease;
    border: none;
    cursor: pointer;
}

.ButtonGames:hover {
    transform: scale(1.1);
}